<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Open+Sans:400,400italic,600,600italic,700,700italic|Inconsolata:400,700">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
	</head>

	<body>
		<header>
			<h1>
				<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/emblem.svg" width="40" height="40" alt="{{ site.title }} logo">
				{{ site.title }} </a>
				<button type="button" class="open-nav" id="open-nav"></button>
 			</h1>

			<form action="{{ site.baseurl }}/search/" method="get">
				<input type="text" name="q" id="search-input" placeholder="Search (press enter when done)" autofocus>
				<input type="submit" value="Search" style="display: none;">
			</form>

			<nav {% if site.show_full_navigation %}class="full-navigation"{% endif %}>
				<ul>
					<li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
						{% assign home = site.html_pages | where: 'url', '/' | first %}
						<a href="{{ site.baseurl }}/">{{ home.title }}</a>
					</li>
					{% assign grouped = site.docs | group_by: 'category' %}
					{% for group in grouped %}
						<li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
							{% assign items = group.items | sort: 'order' %}
							<a class = "collapsible" href="#" onclick="return false;">+ {{ group.name }}</a> 
							<!-- <a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name }}</a> -->
							<ul>
								{% for item in items %}
									{% unless item.asg %} <!-- hides assignment descs from nav-->
										<li class="nav-item {% if item.url == page.url %}current{% endif %}"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
									{% endunless %}
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="page-header">
				<h2>{% if page.category or page.asg %}{{ page.category }}{{ page.asg }}{% else %}{{ site.title }}{% endif %}</h2>
				<h3>{{ page.title }}</h3>
			</div>
			<article class="content">
				{{ content }}
			</article>
		</section>

		<script>

			document.getElementById("open-nav").addEventListener("click", function () {
				document.body.classList.toggle("nav-open");
			});

			//collapsible submenu 
			var coll = document.getElementsByClassName("collapsible");
			for (var i = 0; i < coll.length; i++) {
			  coll[i].addEventListener("click", function() {
			    
			    var content = this.nextElementSibling;
			    if (content.style.display === "block") {
			      content.style.display = "none";
			      this.innerHTML = this.innerHTML.replace("x", "+");
			    } else {
			      content.style.display = "block";
			      this.innerHTML = this.innerHTML.replace("+", "x");
			    }
			  });
			}

			// changes + from menu of current page to x. 
			//todo: make collapsible for good UX (low priority)
			document.getElementsByClassName("current")[0].innerHTML = document.getElementsByClassName("current")[0].innerHTML.replace("+", "x");

			//to open external links in a new tab, from: https://harrymartland.co.uk/jekyll-open-links-in-new-tab/
			const baseUrl = '{{ site.url }}';
			document.addEventListener('click', function (event) {
			    let anchor = event.target.closest("A");
			    if(anchor){
			        const href = anchor.href;
			        //need http://127.0.0.1 for local testing
			        if(!href.startsWith(baseUrl) && !href.startsWith('#') && !href.startsWith("http://127.0.0.1")){
			            window.open(href,'_blank');
			            event.preventDefault()
			        }
			    }

			}, false);
		</script>
	</body>
</html>
